body {
  background-color: #f2f2f2;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  background-color: #f2f2f2;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #777;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #cccccc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}