body {
  background-color: #f2f2f2;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  background-color: #f2f2f2;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #777;
}

nav ul li a:hover {
  background-color: #cccccc;
}

.right { text-align: right; }



/* Change the link color to #111 (black) on hover */

td { padding: 4px; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
	clear:both;
	margin-top: 150px;
	

	text-align: center;

}
footer p{
	margin: 0;
	padding-top: 10px;
}



/*
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
*/

